/.idea/.idea.LAsOsuBeatmapParser/.idea/.gitignore
/.idea/.idea.LAsOsuBeatmapParser/.idea/copilot.data.migration.agent.xml
/.idea/.idea.LAsOsuBeatmapParser/.idea/copilot.data.migration.ask.xml
/.idea/.idea.LAsOsuBeatmapParser/.idea/copilot.data.migration.ask2agent.xml
/.idea/.idea.LAsOsuBeatmapParser/.idea/copilot.data.migration.edit.xml
/.idea/.idea.LAsOsuBeatmapParser/.idea/encodings.xml
/.idea/.idea.LAsOsuBeatmapParser/.idea/indexLayout.xml
